<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <h1>This is register page</h1>
    <form action="/register" method="post">
        <input type="text" name="name" placeholder="Pushpendu JAna" required><br><br>
        <input type="text" name="userName" placeholder="pupai2002" required><br><br>
        <input type="email" name="email" placeholder="abc@gmail.com" required><br><br>
        <input type="password" name="password" placeholder="********" required><br><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>