/* right side div */

/* #friendship{
    height: 90vh;
    /* width: 30%; */
/* } */ 
#friends{
    height: 50%;
    width: 100%;
    & #head-friends{
        /* height: 40px; */
        height: 15%;
        width: 100%;
        display: flex;
        background-color: rgb(218, 218, 218);
        & div{
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        & #head-friends-div{
            background-color: rgb(156, 234, 128);
        }
    }
    & #friend-request-div{
        display: none;
    }
}

#friend-request-div,#friend-div{
    height: 80.7%;
    width: 100%;
    padding-top: 3%;
    & ul{  
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        /* padding-left: 4%; */
        /* margin-left: 4%; */
        list-style: none;
        & li{
            width: 100%;
            height: 55px;
            border-radius: 10px;
            display: flex;
            /* align-items: center; */
            justify-content: space-between;
        }
    }
    overflow-y: scroll;
}
.confirm-delete{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-logo-div{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-left: 4%;
    /* justify-content: space-around; */
}
.profile-logo-div img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#friend-request-div::-webkit-scrollbar,#friend-div::-webkit-scrollbar{
    display: none;
}

/* ul li:hover{
    background-color: rgb(210, 210, 210);
} */


.remove-div{
    height: 30px;
    /* width: 80px; */
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    /* margin-right: 10px; */
    background-color: rgb(255, 69, 69);
}

/* .remove-div:hover{
    background-color: rgb(255, 45, 45);
} */


.clicking-style-add{
    background-color: rgb(156, 234, 128);
}

#main-div-right{
    height: 50%;
    width: 100%;
    /* background-color: crimson; */
    & h2{
        /* height: 50px; */
        height: 20%;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(218, 218, 218);
    }
}

/* show all users */




#all-users{
    list-style: none;
    /* padding-left: 4%; */
    padding: 0;
    overflow-y: scroll;
    height: 80%;
    & li{
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* padding-bottom: 10px; */
        border-radius: 10px;
        & .all-users-profile-content{
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 4%;
            & img{
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
            
        }
        & h5{
            background-color: rgb(87, 87, 255);
        }
    }
}

#all-users li:hover,#friend-div ul li:hover,#friend-request-div ul li:hover{
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
}

#all-users::-webkit-scrollbar{
    display: none;
}